body {
  background: #f1f1f18f; }

.font-color {
  color: #3292a6; }

.bg-color {
  background: #fff; }

.bg-color2 {
  background: #3292a6; }

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  background: white;
  opacity: 0.9; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 20px; }
    .navbar .nav-item .nav-link {
      color: #252525; }
    .navbar .nav-item .nav-link:hover {
      color: #3292a6; }
  .navbar .naav.item:last-child {
    padding-right: 0px; }
  .navbar #nab-bg {
    background: rgba(255, 255, 255, 0.342); }
  .navbar #nav-btn {
    border: none;
    outline: none; }
    .navbar #nav-btn #nav-btn span:hover {
      color: aliceblue; }

.showcase {
  background: url("../img/home.jpg") no-repeat center top fixed; }
  .showcase .overly {
    background: #3293a6b2;
    padding-top: 9rem !important;
    padding-bottom: 6rem !important; }
    .showcase .overly #dis-btn {
      font-size: 20px; }
    .showcase .overly .lead {
      font-size: 20px; }
    .showcase .overly .showcase-heead-text {
      font-size: 6rem; }
  @media (max-width: 991px) {
    .showcase #book-img {
      display: none;
      line-height: 1px !important; }
    .showcase .overly {
      padding-top: 8rem !important;
      padding-bottom: 2rem !important; } }

#submit-btn {
  background: #3292a6;
  color: aliceblue;
  border: none;
  font-size: 20px; }

#submit-btn:hover {
  background: #298192 !important; }

.border-primary {
  border: 1.5px solid #3292a6 !important; }

.bg-primary {
  background: #3292a6 !important; }

#abut .card:hover {
  background: #3292a6;
  color: #fff;
  cursor: pointer; }

#abut .card:hover .font-color {
  color: #fff; }

#abut #temImg {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  margin-top: -4rem; }

@media (min-width: 768px) {
  #abut #temImg {
    width: 7rem;
    height: 7rem;
    margin-top: -5rem; } }

@media (min-width: 991px) {
  #abut #temImg {
    width: 10rem;
    height: 10rem;
    margin-top: -5rem; } }

@media (max-width: 768px) {
  #logoImg {
    display: none; } }
